<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Site Metas -->
    <title>Online Pizza</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    @*<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">*@

    <!-- Bootstrap CSS -->

    <link href="~/Effects/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Site CSS -->

    <link href="~/Effects/style.css" rel="stylesheet" />
    <!-- Responsive CSS -->

    <link href="~/Effects/css/responsive.css" rel="stylesheet" />

    <!-- Custom CSS -->

    <link href="~/Effects/css/custom.css" rel="stylesheet" />

    <script src="~/Effects/js/modernizr.js"></script>
    <script src="~/Effects/js/Pizza.js"></script>

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

    @RenderSection("AddToHeadAnotherWay", required: false)

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <style>
        #dialogoverlay {
            display: none;
            opacity: .8;
            position: fixed;
            top: 0px;
            left: 0px;
            background: #FFF;
            width: 100%;
            z-index: 10;
        }

        #dialogbox {
            display: none;
            position: fixed;
            background: #000;
            border-radius: 7px;
            width: 550px;
            z-index: 10;
        }

            #dialogbox > div {
                background: #FFF;
                margin: 8px;
            }

                #dialogbox > div > #dialogboxhead {
                    background: #8dbd56;
                    font-size: 19px;
                    padding: 10px;
                    color: white;
                }

                #dialogbox > div > #dialogboxbody {
                    background: #333;
                    padding: 20px;
                    color: #FFF;
                }

                #dialogbox > div > #dialogboxfoot {
                    background: #8dbd56;
                    padding: 10px;
                    text-align: right;
                }
    </style>


</head>
<body id="page-top" class="politics_version">

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img class="img-fluid" src="images/logo.png" alt="" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" id="home" href="/OnlinePizza/Home"><span>Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" id="myorders" href="/OnlinePizza/MyOrders"><span>My Orders</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" id="cart" href="/OnlinePizza/Cart"><span>Cart</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" id="feedbacks" href="/OnlinePizza/SendFeedback/0"><span>Send Feedbacks</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" id="password" href="/OnlinePizza/UpdatePassword"><span>Change Password</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" id="feedbacks" href="/OnlinePizza/Logout"><span>Logout</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div id="dialogoverlay"></div>
    <div id="dialogbox">
        <div>
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"></div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
