@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    var userid = ViewBag.UserId;
}

<script>
    document.getElementById("password").classList.add("active");


    function checkPassword(form) {
        password1 = form.Password.value;
        password2 = form.conpass.value;

        // If password not entered
        //if (password1 == '')
        //alert ("Please enter Password");

        // If confirm password not entered
        //else if (password2 == '')
        //alert ("Please enter confirm password");

        // If Not same return False.
        if (password1 != password2) {
            alert("\nPassword did not match: Please try again...")
            return false;
        }


    }



    var LoginViewModel = {
        UserId: 0,
        Email: "",
        Password: ""
        
    }

    function PasswordUpdate() {
        var pass = $("#pass").val();
        var conpasss = $("#conpassword").val();
        //if (pass == '' || pass != conpasss) {
        //    alert("\nPassword did not match: Please try again...");
        //}
        if (pass == conpasss && pass != '') {
            var options = {};
            options.url = "/api/User/"
            options.type = "PATCH";

            var obj = LoginViewModel;
            obj.UserId = @userid;
            obj.Email = $("#email").val();
            obj.Password = $("#pass").val();


            console.dir(obj);
            options.data = JSON.stringify(obj);
            options.contentType = "application/json";
            options.dataType = "html";
            options.success = function (msg) {
                Alert.render(msg, '/OnlinePizza/Home');
                //window.location.href = '/OnlinePizza/Menu';
                //$("#msg").html(msg);
            };
            options.error = function () {
                $("#msg").html("Error while calling the Web API!");
            };
            $.ajax(options);
        }
        else {
            alert("\nPassword did not match: Please try again...");
        }
    }

</script>

<div id="contact" class="section db">
    <div class="container-fluid">
        <div class="section-title text-center">
            <h3>Login</h3>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-12">
                <div class="contact_form">
                    <div id="message"></div>
                    <form id="contactForm">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" name="Email" id="email" type="email" placeholder="Your Email" required="required" pattern=".+" @@"globex.com" data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" id="pass" name="Password" type="password" placeholder="Enter Password" required="required" data-validation-required-message="Please enter your password.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" id="conpassword" name="Password" type="password" placeholder="Confirm Password" required="required" data-validation-required-message="Please enter your confirmed password.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>



                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button id="subButton" onclick='PasswordUpdate()' class="sim-btn hvr-radial-in" data-text="Send Message" type="button">Submit</button>
                            </div>

                            <div style="color:red; font-weight: bold; font-size:25px; margin-top:20px;" class="col-lg-12 text-center">
                                @ViewBag.Message
                            </div>

                        </div>
                    </form>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
